<div class="card">
    <div class="card-header card-header-danger">
      <h4 class="card-title">User Registration</h4>
      <p class="card-category">Complete your profile</p>
    </div>
    <div class="card-body">
      <form>

        <div class="row">


          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Fist Name" type="text" [(ngModel)]="user.firstName" name="firstName">
            </mat-form-field>
          </div>

          <div class="form-group col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Last Name" type="text" [(ngModel)]="user.lastName" name="lastName">
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Identity Number" type="text" [(ngModel)]="user.idNumber" name="idNumber">
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Username" type="text" [(ngModel)]="user.userUsername" name="userUsername">
            </mat-form-field>
          </div>



          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Password" type="password" [(ngModel)]="user.userPassword" name="userPassword">
            </mat-form-field>
          </div>

          <div class="col-md-6">
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Re-enter Password" type="password" [(ngModel)]="reEnterPassword" name="reEnterPassword">
            </mat-form-field>
          </div>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right">Clear</button>
          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="createUser()">Register</button>
          
          <div class="clearfix"></div>
        </div>
      </form>
    </div>
  </div>
