<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="">
                        Pick Market
                    </a>
                </li>
                <li>
                    <a href="">
                        Curfew Offers
                    </a>
                </li>
                <li>
                    <a href="">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="">
                        Contact Us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made using AngularJs by
            <a href="" target="_blank">Dimantha</a>
        </div>
    </div>
</footer>
